
<div class="flex  gap-2">
  <img src="../../../../assets/img/background-libreria.png" alt="">
  <div class="p-3 pt-7">
    <h2 class="w-full text-center">
      Sueños atrapados
    </h2>
    <hr>
    <p> <strong>La lectura</strong> es una puerta a un mundo de posibilidades,
      una travesía que nos transporta más allá de las fronteras de la realidad cotidiana.
      Sumergirse en las páginas de un libro es abrir la mente a nuevas ideas,
      perspectivas y conocimientos.</p>
    <br>
    <h2 class="w-full text-center">Limitless..</h2>
    <hr>
    <p>Leer no solo es adquirir información, sino también una <strong>experiencia enriquecedora</strong>
       que estimula la imaginación y alimenta el alma. A través de las palabras impresas,
       nos conectamos con otras mentes, exploramos épocas pasadas y futuras, y vivimos vidas
       que de otra manera permanecerían desconocidas.
      </p>
      <p>
      La lectura es un ejercicio para la mente, una oportunidad para cultivar la
       empatía al ponerse en los zapatos de personajes diversos y enfrentar situaciones únicas.
       Además, fortalece la concentración y la capacidad de reflexión, proporcionando momentos
       de introspección valiosa.</p>
       <br>
       <h2 class="w-full text-center">Aventurero de nacimiento</h2>
       <hr>
       <p>En el vasto universo de la literatura, encontramos no solo entretenimiento, sino también
        consuelo, inspiración y desafíos intelectuales. Los libros son faros que iluminan nuestro
        camino, guiándonos hacia la comprensión y el autoconocimiento.</p>
        <br>
        <p>Así, sumérgete en la maravilla de la lectura, descubre mundos desconocidos, amplía tus
          horizontes y permite que las palabras te envuelvan como un abrazo amable, recordándote
          lo bueno que es perderse en la magia de un buen libro.</p>

       <p-button pRipple label="Comenzar Aventura"  [rounded]="true" [outlined]="true" severity="success"
        styleClass="mt-3" routerLink="/libros/list"></p-button>
  </div>
</div>
