<form action=""

  class="w-full flex flex-column justify-content-center align-items-center pt-3"
  [formGroup]="fieldForm">
  <div class=" mb-5">
    <span class="p-float-label">
      <input
      pInputText
      formControlName="Nombre"
      id="nombre_input" />
      <label for="nombre_input">Nombre</label>
    </span>
    <div *ngIf="!isValid()">
      <h5 class="p-0 m-0 text-red-200" >{{messageError}} </h5>
    </div>
      <p-button pRipple [label]="'Modificar '+tipo" icon="pi pi-pencil" [rounded]="true" [outlined]="true" severity="success"
      (onClick)="emitirNewElement()" [disabled]="!fieldForm.valid" styleClass="mt-3"></p-button>
  </div>
</form>
